[submodule "lib/reasings"]
	path = lib/reasings
	url = git@github.com:raylib-extras/reasings.git
[submodule "lib/clip"]
	path = lib/clip
	url = git@github.com:dacap/clip.git
[submodule "lib/raylib"]
	path = lib/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "lib/utfcpp"]
	path = lib/utfcpp
	url = git@github.com:nemtrif/utfcpp.git
