# Ignore file with compressed font when calculating language statistics
# This way CodeMap will not be shown as 71% C code on GitHub.
# See: https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
compressed_roboto.h linguist-generated
